# Скопировать в .release.env (он в .gitignore) и заполнить.
# Токен: https://authors.curseforge.com/account/api-tokens
CF_API_TOKEN=
# ID проектов на CurseForge (видны на странице проекта, блок About Project)
CF_PROJECT_Chorus=
CF_PROJECT_Chorus_ruRU_Midnight=
# Версия игры для загрузки на CurseForge
GAME_VERSION=12.1.0
